/*10:42am
16/2
coffee v3.3  */
@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

*{
    list-style-type: none;
    text-decoration: none;   
}

a, a:active, a:visited{
    color: unset;
}

:root{
    --light-brown: #e09c86;
    --brown: #725145;
    --dark-brown: #4e362f;
    --darker-brown: #352520;
    --orange: #e2653f;
    --light-yellow: #e7b557;
    --yellow: #dfc241;
    --light-orange: #eea473;
    --bourbon-dark-brown: #582c09;
    --bourbon-light-brown: #a07758;
    --light-red: #d36266;
    --mid-red: #f5545a;
    --dark-red: #a31519;
    --white: #fff;
    --light-gray:#d6d6d6;
    --gray: #757575;
    --mid-gray: #474747;
    --dark-gray: #1b1b1b;
    --dark-blue: #1d44b1;
    --text-icons: #FFFFFF;
    --divider: #BDBDBD;
    --title: "Kanit";
    --text: "Catamaran";
    --poppins: 'Poppins', sans-serif;
    --dancing_script: 'Dancing Script', cursive;
}

html{
    /* overflow-x: hidden; */
    max-width: 100vw;
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    scrollbar-gutter: stable;
}

header{
    display: block;
    background-color: #fff;
    width: 100%;
    height: 59px;
}

div.header-container{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
}

abbr{
    text-decoration: none !important;
}

label{
    display: table;
    font: normal 300 35px var(--title);
    color: var(--brown);
    cursor: pointer;
}

label sup{
    display: inline-table;
    font-size: 9px;
    vertical-align: super;
}

nav{
    display: flex;
    justify-self: center;
}

nav ul{
    display: flex;
    margin-left: calc(-100px);
}

nav ul li{
    margin: 0 30px;
    font: normal 500 16px var(--text);
    color: var(--brown);
}

nav ul li:hover{
    text-decoration: underline;
}

.nav-icon-btns{
    display: flex;
    color: var(--orange);
}

.nav-icon-btns i, .lang-changer{
    margin-left: 15px;
    cursor: pointer;
}

.nav-icon-btns i:hover, .lang-changer:hover{
    color: #eea473;
}

.lang-changer{
    font-family: var(--text);
}

.nav-icon-btns .fa-angle-down{
    margin: 0 3px;
    font-size: 1.2rem;
    line-height: 1px;
}

main{
    width: 100vw;
    max-width: 100vw;
    min-height: 736px;
}

.initial-screen{
    max-width: 100%;
    height: calc(100vh - 59px);
}

.slide-background{
    max-height: 736px;
    width: 100vw;
    height: 100%;
}

#img1{
    max-width: 100vw;
    height: inherit;
    background-image: url(https://media.discordapp.net/attachments/823303452036825129/934218424786235422/coffee-pure.jpg?width=2048&height=1280);
    background-repeat: no-repeat;
    background-color: black;
    background-size: cover;
    background-position: 40% 30%;
    display: flex;
    transition: all 1s;
}

.slide-dots{
    display: flex;
    margin: auto;
    margin-top: 705px;
}

.slide-dots i{
    margin: 0 10px;
    font-size: 0.57rem;
    cursor: pointer;
    color: var(--mid-gray);
    transition: all .4s;
}

.currentImgDot{
color: white!important;
}

.explore-box{
    display: flex;
    position: absolute;
    margin-left: 80px;
    margin-top: calc(15%);
}

.explore h1{
    font: normal 600 35px var(--title);
    color: #fff;
    line-height: 35px;
}

.explore p{
    font: normal 400 19px var(--text);
    line-height: 15px;
    color: #fff;
}

.explore-btn{
    display: inline;
    background-color: var(--orange);
    font: normal 600 20px var(--text);
    padding: 2px 20px;
    border-radius: 2px;
    cursor: pointer;
    transition: all .4s ease;
    color: #fff;
}

.explore-btn:hover{
    background-color: #fff;
    color: var(--orange);
}

main{
    background-color: var(--white);
    width: 100%;
}

.arrowUp{
    display: flex;
    position: fixed;
    top: 110%;
    left: 96%;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #fc9652;
    transition: background-color .2s ease, border-color .2s ease, visibility .2s ease, top .2s ease;
    border: solid 1px #ee8549;
    visibility: hidden;
    z-index: 3;
}

.arrowUp-active{
    top: 92%;
    visibility: visible;
}

.arrowUp:hover{
    background-color: #ee8549;
    border-color: #fc9652;
}

.arrowUp i {
    font-size: 28px;
    color: var(--white);
}

section.types{
    display: flex;
    background-color: var(--white);
    width: 100%;
    min-height: 700px;
    justify-content: center;
    scrollbar-gutter: stable;
    margin-top: 150px;
    flex-direction: column;
    align-items: center;
}

.types-h1{
    font: normal 200 55px var(--poppins);
    line-height: 150px;
    color: var(--brown);
    letter-spacing: 2.8rem;
}

/* TYPE 1 */
.type1{
    display: flex;
    position: relative;
    flex-direction: column;
    cursor: pointer;
    max-width: calc(100vw - 93px);
    background-image: linear-gradient(to right,#463129 -10%, #553c34,#553c34, var(--brown));
    background-size: 300%;
    background-position: right;
    width: 90%;
    border-radius: 10px;
    transition: background-position .5s ease;
    margin-top: 50px;
}

.type-cont-hov{
    background-color: #000000a6;
}

 .type1:hover{
     background-position: left;
}

.type-content{
    display: flex;
    padding: 20px 80px 0px 80px;
}

.type-content img{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    background-color: #000;
    border: solid 4px var(--darker-brown);
}

.text-type{
    margin-top: 25px;
    margin-left: 15px;
}

.text-type h1{
    font: normal 300 33px var(--title);
    color: var(--darker-brown);
    line-height: 20px;
    letter-spacing: 1.3rem;
    text-transform: uppercase;
}

.text-type p{
    font: normal 200 21px var(--text);
    line-height: 24px;
    color: #fff;
    letter-spacing: 0.1rem;
}

.more-content{
    max-height: 0px;
    opacity: 0;
    transition: max-height .2s ease, opacity .4s ease-in, visibility .4s ease-in;
    visibility: hidden;   
}

.more-content p{
    font: normal 200 21px var(--text);
    padding: 20px 120px;
    line-height: 24px;
    color: #fff;
    letter-spacing: 0.1rem;
}

.more-content-active{
    max-height: 370px;
    opacity: 1;
    visibility: visible;   
}

.angle-more{
    display: flex;
    justify-content: center;
    width: 100%;
}

.angle-more i{
    font-size: 40px;
    color: var(--darker-brown);
}

/* TYPE 2 */
.type2{
    display: flex;
    position: relative;
    flex-direction: column;
    cursor: pointer;
    max-width: calc(100vw - 93px);
    width: 90%;
    border-radius: 10px;
    background-image: linear-gradient(to left, #ee8549,#fc9652, #fc9652, var(--light-orange));
    background-size: 300%;
    background-position: left;
    transition: .4s background-position ease;
    margin-top: 50px;
}

.type2:hover{
    background-position: right;
}

.type-content2{
    display: flex;
    justify-content: right;
    padding: 20px 80px 0px 80px;
}

.type-content2 img{
    display: inline-flex;
    height: 165px;
    width: 165px;
    border-radius: 50%;
    background-color: #000;
    border: solid 4px var(--orange);
    justify-self: right;
}

.text-type2{
    margin-top: 25px;
    margin-right: 15px;
}

.text-type2 h1{
    font: normal 300 33px var(--title);
    color: var(--orange);
    line-height: 20px;
    letter-spacing: 1.3rem;
    text-transform: uppercase;
}

.text-type2 p{
    font: normal 200 21px var(--text);
    line-height: 24px;
    color: #fff;
    letter-spacing: 0.1rem;
}

/* .angle-more2:hover{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.075), var(--light-orange));
} */

.type2 .angle-more i{
    font-size: 40px;
    color: var(--orange);
}

/* TYPE 3 */
.type3{
    background-image: linear-gradient(to right,#d4474c ,#d34d51 ,#d15256, var(--light-red));
    border-radius: 10px;
    background-position: right;
    transition: .4s background-position ease;
}

.type3:hover{
    background-position: left;
}

.type3 img{
    border: solid 4px var(--dark-red);
}

.type3 h1{
    color: var(--dark-red);
}

/* .type3 .angle-more:hover{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.075), var(--light-red));
} */

.type3 .angle-more i{
    color: var(--dark-red);
}

/* TYPE 4 */
.type4{
    background-image: linear-gradient(to left,#7e5739 ,#916442 ,#8f6647, var(--bourbon-light-brown));
    border-radius: 10px;
    background-position: left;
    transition: .4s background-position ease;
}

.type4:hover{
    background-position: right;
}

.type4 img{
    border: solid 4px var(--bourbon-dark-brown);
}

.type4 h1{
    color: var(--bourbon-dark-brown);
}

/* .type4 .angle-more2:hover{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.075), var(--bourbon-light-brown));
} */

.type4 .angle-more i{
    color: var(--bourbon-dark-brown);
}

/* TYPE 5 */
.type5{
    background-image: linear-gradient(to right,#db9341 ,#d8963f ,#e09e49, var(--light-yellow));
    border-radius: 10px;
    background-position: right;
    transition: .4s background-position ease;
}

.type5:hover{
    background-position: left;
}

.type5 img{
    border: solid 4px var(--yellow);
}

.type5 h1{
    color: var(--yellow);
}

/* .type5 .angle-more:hover{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.075), var(--light-yellow));
} */

.type5 .angle-more i{
    color: var(--yellow);
}


section.specialists{
    display: flex;
    width: 100%;
    min-height: 400px;
    margin-top: 150px;
}

.spec-h1{
    font: normal 200 60px var(--poppins);
    line-height: 150px;
    color: var(--brown);
    letter-spacing: 2.5rem;
}

/* #white-around{
    display: flex;
    align-items: center;
    width: 70%;
    height: 300px;
    background-color: var(--dark-brown);
} */

.special0{
    position: absolute;
    display: flex;
    width: 100%;
    min-width: 100vw;
    height: 350px;
    background-color: var(--white);
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    visibility: hidden;
    height: 0;
    z-index: 0;
}

.spec-angles{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 350px;
}

.spec-angles i{
    z-index: 3;
    font-size: 77px;
    color: var(--light-brown);
    cursor: pointer;
    margin-top: 7%;
    transition: transform .3s ease, color .2s ease;
}

.fa-angle-left{
    margin-left: 20px;
}

.fa-angle-right{
    margin-right: 20px;
}

.spec-angles i:hover{
    transform: scale(1.2);
    color:#f19864;
}

.second-bg{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 100%;
    height: 350px;
    /* background-image: url(/coffee-page/images/bg_special0.jpg); */
    background-image: url(/coffee-page/images/bg_special0.jpg);
    background-size: cover;
    background-position: 50% 70%;
    /* background-size: cover;
    background-repeat: no-repeat;
    background-position: center 60%; */
}

.spec-content{
    display: flex;
    padding: 0 140px;
    width: 100%;
    height: 350px;
    align-items: center;
}

.img-container{
    width: 280px;
    height: 280px;
    background-color: black;
    border-radius: 999px;
    box-shadow: 1.5px 1.5px 5px rgba(0, 0, 0, 0.4);
}

.img-container img{
    border-radius: 999px;
    max-width: 280px;
    max-height: 280px;
}

.name-social{
    display: flex;
}

.spec-social{
    margin-left: 10px;
    margin-top: 28px;
}

.spec-social ul{
    display: flex;
    justify-content: left;
    padding: 0;
    margin: 0;
}

.spec-social ul li {
    font-size: 20px;
    line-height: 25px;
    margin: 0 5px;
    color: var(--light-brown);
}

.spec-info{
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 40px;
    width: 100%;
}

.spec-info h2{
    display: inline;
    text-shadow: 0 0 0 rgba(0, 0, 0, 0.301);
    margin: 15px 0 0 0 ;
    font: normal 600 42px var(--dancing_script);
    color: #fff;
    line-height: 35px;
}

.spec-content .label{
    margin: 0;
    /* margin-top: 23px;
    margin-left: 8px; */
    font: italic 400 18px var(--poppins);
    line-height: 35px;
    color: var(--light-brown);
}

.spec-about{
    display: flex;
    width: 100%;
    justify-content: center;
}

.spec-about p{
    display: inline;
    font: normal 200 20.5px var(--text);
    color: #fff;
    line-height: 25px;
    text-align: justify;
    max-width: 92%;
    letter-spacing: 0.3px;
}


/* DANIEL MUNARI */
.special1{
    position: absolute;
    display: flex;
    width: 100%;
    min-width: 100vw;
    height: 350px;
    background-color: var(--white);
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    visibility: hidden;
    height: 0;
    z-index: 0;
}

.second-bg1{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 100%;
    height: 350px;
    /* background-image: url(/coffee-page/images/bg_special0.jpg); */
    background-image: url(/coffee-page/images/bg_special1.jpg);
    background-size: cover;
    background-position: 50% 70%;
    /* background-size: cover;
    background-repeat: no-repeat;
    background-position: center 60%; */
}

.spec-social1 ul li{
    color: var(--mid-red);
}

.spec-content1 .label{
    color: var(--mid-red);
}

.spec-active{
    visibility: visible;
    height: auto;
    z-index: 2;
}





























/* section.about{
    margin-top: 300px;
    width: 100%;
    max-height: 380px;
}

.about-container{
    background-image: url(/coffee-page/images/about_bg);
    background-size: cover;
    background-color: black;
    background-repeat: no-repeat;
    background-position: center 45%;
    width: 100%;
    height: 350px;
    max-height: 350px;
}

.about h1{
    font: normal 200 55px var(--poppins);
    color: var(--brown);
    text-align: center;
    letter-spacing: 2.8rem;
}

.about-container p{
    font-size: 21px;
    font-family: var(--poppins);
    font-weight: 300;
    line-height: 24px;
    color: var(--dark-gray);
}

.about-container .p-desc{
    text-align: center;
    font-size: 25px;
    padding-top: 10px;
}

.info-containers{
    display: flex;
    justify-content: space-around;
}

.about-container .p-jv{
    margin-left: 80px;
}

.about-container ul.social{
    display: flex;
}

ul.social li{
    margin: 0 10px;
}

ul.social li i{
    font-size: 30px;
} */
