/* 9:47am
20/1
coffee v1.1 */

*{
    list-style-type: none;
    text-decoration: none;   
}

a, a:active, a:visited{
    color: unset;
}



:root{
    --dark-brown: #4e362f;
    --brown: #725145;
    --orange: #df5d36;
    --light-white:#D7CCC8;
    --white: #fff;
    --gray: #757575;
    --dark-text: #212121;
    --text-icons: #FFFFFF;
    --divider: #BDBDBD;
    --title: "Kanit";
    --text: "Catamaran";
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--brown);
    background-color: var(--white);
    padding-top: 7px;
    padding-bottom: 7px;
}

.title{
    font-family: var(--title);
}

.text{
    font-family: var(--text);
}

.logo-container{
    margin-left: 4rem;
    cursor: pointer;
}

.logo-container abbr{
    text-decoration: none;
}

label{
    font: normal 300 35px var(--title);
}

label sup{
    font-size: 1.2rem;
    font-weight: 300;
}

nav{
    display: flex;
    align-items: center;
}

nav ul{
    display: flex;
    margin-right: 12rem;
}

nav ul li{
    display: flex;
    font: normal 500 16px var(--text);
    margin-right: 80px;
}

nav ul li:hover{
    text-decoration: underline;
}

.nav-icon-btns{
    display: flex;
    font-size: 17px;
    height: 22px;
    line-height: 20px;
    margin-right: 4rem;
    color: var(--orange);
}

.nav-icon-btns i{
    margin-right: 15px;
    cursor: pointer;
}

.language-changer{
    display: flex;
    font-size: 18px;
    line-height: 18px;
}

.language-changer span{
    font: normal 400 16px var(--title);
    line-height: 18px;
}

.language-changer .angle-down{
    font-size: 20px;
    padding-left: 2px;
}

section.initial-screen{
    display: flex;
    height: 722px;
    background: black url('../images/finished.jpg') 50% 50% no-repeat;
    background-size: cover;
    align-items: flex-end;
}

.explore-box{
    width: 750px;
    color: #fff;
    margin-left: 4rem;
    margin-bottom: 17rem;
}

.explore-box .title{
    font: normal 600 40.5px var(--title);
    line-height: 10px;
}

.explore-box .text{
    font: normal 300 21px var(--title);
    line-height: 22px;
}   

.explore-btn{
    display: inline;
    background-color: var(--orange);
    font: normal 600 20px var(--text);
    padding: 2px 22px;
    border-radius: 5px;
    cursor: pointer;
    transition: all .4s ease;
}

.explore-btn:hover{
    background-color: #fff;
    color: var(--orange);
}

.dots-slide{
    display: flex;
    color: var(--gray);
    justify-content: center;
    margin-bottom: 1.5rem;
}

.dots-slide i{
    margin-right: 15px;
    font-size: 0.57rem;
    cursor: pointer;
}